@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Indisible Arkanasa is so cool</h1>
    <p>Here's the website in progress... it's still pretty rough</p>
</div>
