@page
@model IndexModel
@{
    ViewData["Title"] = "Indivisible Arkansas Contacts Page";
}

<div class="text-center">
    <h1 class="display-4">We're working on it!</h1>
    <p>It's still a work in progress</p>
</div>
