@page
@model IndexModel
@{
    ViewData["Title"] = "Indivisible Arkansas Home";
}

<div class="text-center">
    <h1 class="display-4">Indivisible Arkansas</h1>
    <p>It's still a work in progress!</p>
</div>
